<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
</head>
<body>
  {{ partial "header.html" . }}
  <div class="help-and-nav content">
    {{ partial "sidebar.html" . }}
    {{ block "main" . }}{{ end }} 
  </div>
  {{ partial "footer.html" . }}

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9562146-8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-9562146-8');
  </script>

</body>
</html>