<footer class="hide-for-print">
  <div class="footer-row">
    <div class="content">
      <div class="footer-column">
        <h2 class="footer-column-title">Event Management</h2>
        <ul>
          <li>
            <a class="footer-link" href="/events/create/">Getting started</a>
          </li>
          <li>
            <a class="footer-link" href="http://www.koliseo.com/create"
              >Create Event</a
            >
          </li>
          <li>
            <a class="footer-link" href="/tickets/pricing/">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h2 class="footer-column-title">Agenda Management</h2>
        <ul>
          <li>
            <a class="footer-link" href="/talks/r4p/">Request for Proposals</a>
          </li>
          <li>
            <a class="footer-link" href="/talks/agenda/">Agenda</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h2 class="footer-column-title">About Us</h2>
        <ul>
          <li>
            <a class="footer-link" href="https://help.koliseo.com/about/"
              >Who are we</a
            >
          </li>
          <li>
            <a class="footer-link" href="http://blog.koliseo.com">Our Blog</a>
          </li>
          <li>
            <a class="footer-link" href="mailto:support@koliseo.com"
              >Contact Support</a
            >
          </li>
          <li>
            <a class="footer-link" href="mailto:sales@koliseo.com"
              >Request a Demo</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="content">
      <div class="footer-column logo-container">
        <a href="/" class="logo-footer" title="Koliseo" aria-hidden="true"></a>
        <div class="footer-credits">
          <b class="title">Koliseo</b>
          <div>Events can be awesome</div>
        </div>
      </div>
      <div class="footer-column text-right">
        <a class="footer-link" href="https://www.koliseo.com"
          >Crafted with love</a
        >
        &middot;
        <a class="footer-link" href="/about/legal">Terms and conditions</a>
        &middot;
        <a class="footer-link" href="/about/legal">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>
