<footer class="hide-for-print">
  <div class="footer-row limited-large">
    <div class="content">
      <div class="footer-column">
        <h2 class="footer-column-title">Event Management</h2>
        <ul>
          <li>
            <a class="footer-link" href="/events/create/">Get started</a>
          </li>
          <li>
            <a class="footer-link" href="https://www.koliseo.com/me/create"
              >Create Event</a
            >
          </li>
          <li>
            <a class="footer-link" href="/tickets/sales">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h2 class="footer-column-title">Agenda Management</h2>
        <ul>
          <li>
            <a class="footer-link" href="/agenda/agenda/">Agenda</a>
          </li>
          <li>
            <a class="footer-link" href="/call-for-papers/">Call for papers</a>
          </li>
        </ul>
      </div>
      <div class="footer-column">
        <h2 class="footer-column-title">About Us</h2>
        <ul>
          <li>
            <a class="footer-link" href="/about/">Who are we</a>
          </li>
          <li>
            <a class="footer-link" href="https://blog.koliseo.com">Our Blog</a>
          </li>
          <li>
            <a class="footer-link" href="mailto:support@koliseo.com"
              >Contact Support</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-row">
    <div class="content">
      <div
        class="footer-column logo-container flex-row items-center gap-3 flex-wrap"
      >
        <a href="/" class="logo-footer" title="Koliseo" aria-hidden="true"></a>
        <div class="footer-credits">
          <b class="title">Koliseo</b>
          <div>Events can be awesome</div>
        </div>
        <div class="flex-row flex-wrap">
          <a class="footer-link margin-right" href="/about/legal"
            >Terms and conditions</a
          >
          <a class="footer-link" href="/about/legal">Privacy policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>
