<footer class="hide-for-print">
  <div class="footer-row">
    <div class="content">
      <dl class="footer-column">
        <dt class="footer-column-title">Product</dt>
        <dd>
          <a class="footer-link" href="/events/create/">Getting started</a>
        </dd>
        <dd>
          <a class="footer-link" href="http://www.koliseo.com/create">Create Event</a>
        </dd>
        <dd>
          <a class="footer-link" href="http://www.koliseo.com/legal#cookies">Cookies</a>
        </dd>
        <dd>
          <a class="footer-link" href="/tickets/pricing/">Pricing</a>
        </dd>
      </dl>
      <dl class="footer-column">
        <dt class="footer-column-title">Developers</dt>
        <dd>
          <a class="footer-link" href="">Agenda</a>
        </dd>
      </dl>
      <dl class="footer-column">
        <dt class="footer-column-title">About Us</dt>
        <dd>
          <a class="footer-link icon-globe" href="http://blog.koliseo.com">Our Blog</a>
        </dd>
        <dd>
          <a class="footer-link" href="mailto:support@koliseo.com">Contact Support</a>
        </dd>
        <dd>
          <a class="footer-link" href="mailto:sales@koliseo.com">Request a Demo</a>
        </dd>
      </dl>
    </div>
  </div>
  <div class="footer-row">
    <div class="content">
      <div class="footer-column logo-container">
        <a href="/" class="logo-footer"></a>
        <div class="footer-credits">
          <b class="title">Koliseo</b>
          <div>Events can be awesome</div>
        </div>
      </div>
      <div class="footer-column text-right">
        <a class="footer-link" href="/">crafted with love</a> &middot;
        <a class="footer-link" href="http://www.koliseo.com/legal">Terms and conditions</a> &middot;
        <a class="footer-link" href="http://www.koliseo.com/legal">Privacy policy</a>
      </div>
    </div>
  </div>
</footer>