// basic colors
$black:        #333;
$gray-dark:    #333;
$gray:         #888;
$gray-light:   #ccc;
$gray-lighter: #eee;
$white:        #fff;
$red:          #ff2616;

// semantic colors
$linkColor: #08c;
$linkColorHover: darken($linkColor, 15%);
$border-color:#eee;
$body-background: #fafafa;