// basic colors
$black: #333;
$gray-dark: #333;
$gray: #888;
$gray-light: #ccc;
$gray-lighter: #eee;
$white: #fff;
$red: #ff2616;

// semantic colors
$linkColor: #0376b0;
$linkColorHover: darken($linkColor, 15%);
$border-color: #eee;
$body-background: #fafafa;
$table-border-color: #b7c9e2;
$image-border-color: #d1dbe4;
