// Set box-sizing globally to handle padding and border widths
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Default body styles
body {
  background: #fff;
  color: #333;
  font-family: $sansFontFamily;
  line-height: 1.5;
  font-size: $baseFontSize;
  margin: 0;
  padding: 0;
  font-display: swap;
}

img {
  max-width: 100%;
  height: auto;
  //display: inline-block;
  //vertical-align: middle;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: $linkColor;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $linkColorHover;
  }

  & > img {
    border: none;
  }
}

p {
  margin-bottom: $paragraph-margin-bottom;
  //  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4a4a4a;
  font-family: $headingFontFamily;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  //  text-rendering: optimizeLegibility;

  & > a {
    color: inherit;
  }
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 25px;
  color: #6a6a6a;
  margin-bottom: 1.4rem;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
  margin-bottom: 0.3rem;
}
h6 {
  font-size: 14px;
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  height: 1px;
  margin: 20px 0 20px;
}

// small font, will use gray color
small,
.small {
  font-size: 0.9rem;
  line-height: inherit;
  color: $gray;
}

// Lists
ul,
ol,
dl {
  list-style-position: outside;
  margin-bottom: $paragraph-margin-bottom;
}

$list-side-margin: 2rem;
ul {
  list-style-type: none;

  &.square {
    list-style-type: square;
    margin-left: $list-side-margin;
  }
}

/* Ordered Lists */
ol {
  margin-left: $list-side-margin;
}

/* Definition Lists */
dl {
  dt {
    font-weight: bold;
  }
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  font-size: 90%;
  cursor: help;
}
abbr {
  text-transform: none;
  &[title] {
    border-bottom: 1px dotted gray-lighter;
  }
}

// Blockquotes
blockquote {
  margin: 0 0 $paragraph-margin-bottom;
  padding: 9px 20px 0 19px;
  border-left: 3px solid $linkColor;
}

// snippets of code
$code-background-color: #f8f8f8;
$code-border-color: #dfdfdf;
code {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  color: $black;
  font-family: $monoFontFamily;
  font-size: 0.875rem;
  padding: 2px 5px 1px;
  border-radius: 3px;
}

// multi-line snippets of code
pre {
  background-color: $code-background-color;
  border: 1px solid $code-border-color;
  border-radius: 3px;
  padding: 3px 7px;
  margin-bottom: 1rem;
  & code {
    border: none;
    background: none;
    padding: 0;
  }
}

.content {
  padding: 0 1rem;
  max-width: 1400px;
}

$help-vertical-margin: 2rem;
$help-horizontal-margin: 2rem;
.help-content-main {
  margin: $help-vertical-margin $help-horizontal-margin;

  & ul {
    list-style-type: square;
    margin-left: $list-side-margin;
    margin-bottom: 1rem;
  }

  & li {
    margin-bottom: 0.5rem;

    & p {
      margin-bottom: 0.5rem;
    }

    & ul {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

// aside note embedded with text
.note {
  background: #e1f5fe;
  color: #0288d1;
  border-color: #0288d1;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  &::before {
    display: inline;
    font-weight: bold;
    content: "Note: ";
  }
  & code {
    background-color: #44a0d0;
    border: 1px solid #078cd2;
    color: #fff;
  }
}

// bigger text in some section lists
.section-description {
  color: #888;
}

// simple explanation of each point in the legal pages
.layman-terms {
  position: relative;
  top: -0.5rem;
  margin-bottom: 1rem;
  color: #777;
}

.screen-reader-only {
  position: absolute;
  left: -10000px;
  top: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
