// Lato
@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/lato-bold-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/lato-italic-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('/fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rawline';
    src: url('/fonts/rawline/rawline-900i.woff2') format('woff2'),
         url('/fonts/rawline/rawline-900i.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Rawline';
    src: url('/fonts/rawline/rawline-900.woff2') format('woff2'),
         url('/fonts/rawline/rawline-900.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/fonts/roboto/roboto-v18-latin-300.woff2') format('woff2'),
         url('/fonts/roboto/roboto-v18-latin-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// Typography
$sansFontFamily:        Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily:        Consolas,Monaco,"Liberation Mono",Courier,monospace;
$headingFontFamily:     Roboto Light, Georgia, helvetica, arial, sans-serif; 
$baseFontSize:          16px;
$paragraph-margin-bottom: 1rem;

// text wrapping
.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
}

// text alignment
.text-left    { text-align: left !important; }
.text-right   { text-align: right !important; }
.text-center  { text-align: center !important; }
.text-justify { text-align: justify !important; }
