$footer-link-color: #586367;
$footer-link-hover-color: #2e3c43;
$footer-padding: 40px;
$footer-logo-width: 40px;

footer {
  //  margin-top: $footer-padding;
  background: $body-background;
  width: 100%;
}

footer dd {
  margin-bottom: 0;
}
.footer-row {
  border-top: 1px solid #eee;
  padding-bottom: $footer-padding;

  & > .content {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }
}
.footer-column {
  padding-top: $footer-padding;
  margin-bottom: 0;
  margin-right: 10px;
  flex-grow: 1;
  &.text-right {
    display: flex;
    justify-content: flex-end;
    & > .footer-link {
      margin: 0.25rem;
    }
  }
}
.footer-column-title {
  text-transform: uppercase;
  font-family: $sansFontFamily;
  color: $footer-link-hover-color;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
}

.footer-link {
  color: $footer-link-color;
  transition: color 0.2s ease;
  font-size: 1rem;
  margin: 0.75rem 0;
  display: block;
  &:hover,
  &:focus,
  &:active {
    color: $footer-link-hover-color;
    text-decoration: none;
  }
  &[class*="icon-"]:before {
    margin-right: 0.9em;
    font-size: 16px;
  }
}
.footer-column.logo-container {
  display: flex;
  display-flow: row;
}
.logo-footer {
  width: $footer-logo-width;
  height: $footer-logo-width;
  text-indent: -1000px;
  overflow: hidden;
  display: block;
  background: url("/img/k.svg") no-repeat;
  background-size: contain;
  margin-right: 20px;
}
.footer-credits {
  color: $footer-link-color;
  font-size: 1rem;
  flex-grow: 1;
  & > .title {
    color: $footer-link-hover-color;
  }
}
