$topbar-bg: #2e3c43;
$topbar-color: #fff;

.topbar {
  background-color: $topbar-bg;
  color: $topbar-color;
}
.topbar > .content {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
}
.topbar-content {
  margin: 0;
}

$logo-margin: 0.8rem 1rem;
.topbar-logo {
  float: left;
  display: block;
  margin: $logo-margin;
  margin-left: 0;
}
.topbar-link {
  padding: $logo-margin;
  color: $topbar-color;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
    color: $topbar-color;
  }
}
.topbar-logo-img {
  height: 25px;
  width: 97px;
}
