// screen sizes
//$landscape: "only screen and (orientation: landscape)" !default;
//$portrait: "only screen and (orientation: portrait)" !default;
//$medium-up: "only screen and (min-width:640px)" !default;
//$large-up: "only screen and (min-width:980px)" !default;

// desktop
@media only screen and (min-width: 720px) {
  body {
    font-size: 20px;
  }

  .help-and-nav {
    display: flex;
    padding-left: 0;
  }

  .sidebar-nav {
    // display sidebar-nav
    display: block;
    // fixed width with flex
    flex: 0 0 15rem;
    margin-bottom: 0;
    padding-top: 1.3rem;
    border-right: 2px solid $border-color;
  }
}

// big desktop
@media only screen and (min-width: 1200px) {
  .help-content {
    display: flex;
  }

  .toc {
    // fixed width with flex
    flex: 0 0 15rem;
    order: 1;
    padding-left: 1.5rem;
  }

  .toc-contents {
    position: fixed;
    z-index: 1;
  }

  // hide toc embedded with content
  .help-content-main > .toc {
    display: none;
  }

  // show toc in parent
  .help-content > .toc {
    display: block;
  }
}
