.help-content-main {
  & td,
  & th {
    padding: 0.5rem 0.7rem;
    border-bottom: 1px solid $table-border-color;
    text-align: left;
    vertical-align: top;
  }
  & td > ul {
    margin-bottom: 0;
  }
  & th {
    border-bottom-width: 3px;
  }
  & table {
    margin-bottom: 2rem;
  }
}
