// table of contents is only visible in big displays
.toc {
  margin: $help-vertical-margin 0;
}

.toc-contents {
  border-left: 4px solid $linkColor;
  padding-left: $help-horizontal-margin;

  & a {
    text-decoration: none;
  }

  & ul {
    margin-left: 0;
    list-style-type: none;
  }

  // hide third level of links 
  & ul > li > ul > li > ul {
    display: none;
  }
}


// show toc embedded with content
.help-content-main > .toc {
  display: block;
}

// hide toc in parent
.help-content > .toc {
  display: none;
}